/*Universal styles*/

body {
  margin: 0;
  font-family: 'Work Sans', sans-serif;
  font-size: 16px;
  color: rgb(29,39,49);
  text-align: left;
  line-height: 1.4;
}

.container {
  display: flex;
  align-items: center;
  height: 4rem;
}

h1 {
  font-family: 'Taviraj', serif;
  font-weight: 700;
  font-size: 2.5rem;
  color: rgb(217, 179, 16);
  padding-bottom: 2rem;
}

h2 {
  font-family: 'Work Sans', sans-serif;
  font-size: 1.5rem;
  font-weight: 400;
}

.image-container {
  width: 35%;
  padding: 1.5rem 1rem;
}

.image-container img {
  display: block;
  width: 100%;
  height: auto;
}

.info-text {
  width: 65%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-right: 1rem;
}

.sixty-percent-container {
  width: 60%;
  padding: 2rem 1.5rem;
}

.forty-percent-container {
  display: flex;
  flex-direction: column;
  width: 40%;
  padding-top: 0.5rem;
  border-left: solid 0.01rem rgb(217, 179, 16);
}

/*Header*/

header {
  position: fixed;
  width: 100%;
  z-index: 1;
  border-bottom: solid 0.01rem rgb(217, 179, 16);
  background-color: rgb(255, 255, 255);
}

header .logo {
  flex: 1;
}

header img {
  height: 2rem;
  padding-left: 1.5rem;
}

header a {
  font-weight: bold;
}

header span {
  font-weight: bold;
}

header .blue {
  color: rgb(11, 60, 93);
}

header .mobile {
  display: none;
}

header nav {
  text-align: right;
  flex-grow: 1;
  padding: 0 1.5rem;
}

header nav ul {
  display: inline-flex;
}

nav li {
  padding-left: 1rem;
}

.fa {
  color: rgb(217, 179, 16);
}

/*Main content container*/

.main {
  position: relative;
  top: 4rem;
  width: 100%;
}

/*Banner*/

#learn {
  display: flex;
  width: 100%;
  height: auto;
  background-color: rgb(11, 60, 93);
}

.banner {
  width: 60%;
  padding: 2rem 1.5rem;
}

.banner img {
  max-width: 100%;
}

.banner-text {
  display: flex;
  flex-direction: column;
  color: rgb(255, 255, 255);
  justify-content: center;
  width: 40%;
  height: auto;
  font-family: 'Taviraj', serif;
}

.sign-up {
  width: 80%;
}

.sign-up h1 {
  font-style: italic;
  text-shadow: 4px 4px 4px rgb(29, 39, 49);
}

.sign-up h2 {
  padding-top: 0rem;
  padding-bottom: 2rem;
}

.button {
  border-radius: 0.25rem;
  background-color: rgb(217, 179, 16);
  color: rgb(29, 39, 49);
  font-weight: 900;
  font-size: 2rem;
  padding: 0.5rem 2rem;
  box-shadow: 4px 4px 4px rgb(29, 39, 49);
  text-align: center;
  width: 80%;
}

/*Information*/

#about-us {
  display: flex;
  height: auto;
  background-color: rgb(255, 255, 255);
}

.sixty-percent-container img {
  max-width: 100%;
}

.information {
  display: inline-flex;
  border-bottom: solid 0.01rem rgb(217, 179, 16);
}

.information .mobile {
  display: none;
}

.information h2 {
  font-weight: 600;
}

.read-more {
  text-decoration: none;
  color: rgb(6, 69, 173);
}

.block {
  background-color: rgb(11, 60, 93);
  color: rgb(255, 255, 255);
}

.block h2 {
  color: rgb(217, 179, 16);
}

/*Courses*/

#courses {
  display: flex;
}

.id-container {
  background-color: rgb(11, 60, 93);
}

#courses h1 {
  padding-bottom: 1rem;
  text-align: center;
  text-shadow: 4px 4px 4px rgb(29, 39, 49);
}

.courses-container {
  padding: 2rem 3.5rem;
}

.programs {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.subject {
  background-color: rgb(255, 255, 255);
  color: rgb(29, 39, 49);
  display: table-column;
  width: 29.7%;
  margin: 1rem;
}

.subject img {
  display: block;
  width: 100%;
  height: 10rem;
}

.subject-text {
  flex-direction: column;
  padding: 1rem;
}

/*Thesis Exhibit*/

#thesis {
  display: flex;
  flex-direction: column;
  height: auto;
  background-color: rgb(255, 255, 255);
}

.thesis-container {
  display: inline-flex;
  width: 100%;
}

#thesis h1 {
  padding-top: 2rem;
  padding-bottom: 0;
  text-align: center;
}

.urban {
  display: block;
}

video {
  width: 100%;
}

.video-text {
  padding: 1.5rem 1rem 0.5rem 0;
}

.thesis-container .forty-percent-container {
  border-left: none;
}

.exhibit {
  padding-top: 1.5rem;
  display: flex;
  flex-direction: column;
}

.exhibit-info {
  display: inline-flex;
}

/*Social media*/

.social {
  display: inline-flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  padding-bottom: 1rem;
}

.social span {
  padding-right: 2rem;
  color: rgb(11, 60, 93);
  font-family: 'Tavirag', serif;
  font-weight: 900;
}

.social .fa {
  padding: 0 0.75rem;
  color: rgb(11, 60, 93);
}

/*Footer*/

footer .content {
  display: flex;
  color: rgb(217, 179, 16);
  background-color: rgb(11, 60, 93);
  padding: 1rem 1.5rem;
}

footer h5 {
  flex-grow: 1;
}

.nav-footer ul {
  display: flex;
}

.nav-footer {
  color: rgb(217, 179, 16);
}

/*Pseudo class*/

#header a:visited {
  color: rgb(217, 179, 16);
}

.button:hover {
  background-color: rgb(255, 255, 255);
  color: rgb(217, 179, 16);
  transition: color 0.5s ease 0.25s;
}

.information:hover, .exhibit-info:hover {
  background-color:rgba(11, 60, 93, 0.5);
  filter: brightness(150%);
  transition: background-color 1s linear 0.25s;
}

#footer a:visited {
  color: rgb(29, 39, 49);
}

.subject:active {
  filter: brightness(50%);
}

/*Media queries*/

@media only screen and (max-width: 1009px) {
  body {
    font-size: 14px;
  }

  h1 {
    font-size: 1.5rem;
  }

  h2 {
    font-size: 1rem;
  }

  .subject {
    width: 45%;
  }

  .subject h2 {
    font-size: 1rem;
  }

  .button span {
    font-size: 1rem;
  }

  #learn .button {
    padding: 0;
  }
}

@media only screen and (max-width: 615px) {
  #header .desktop {
    display: none;
  }

  #header .mobile {
    display: block;
  }

  header nav ul {
    display: inline-flex;
    width: 100%;
    justify-content: space-around;
  }

  header span {
    display: none;
  }

  .sign-up h1, .sign-up h2 {
    padding: 2rem 1rem;
  }

  h1 {
    font-size: 1.5rem;
  }

  .subject h2 {
    font-size: 1rem;
    color: rgb(217, 179, 16);
  }

  #learn {
    flex-direction: column;
  }

  #learn .banner {
    width: 100%;
    padding: 0;
  }

  #learn .banner-text {
    width: 100%;
    height: auto;
    padding-bottom: 2rem;
    align-items: center;
  }

  #learn .sign-up {
    width: 100%;
  }

  #about-us .sixty-percent-container {
    display: none;
  }

  #about-us .forty-percent-container {
    width: 100%;
  }

  .information {
    flex-direction: column;
    padding-bottom: 2rem;
  }

  #about-us .desktop {
    display: none;
  }

  #about-us .mobile {
    display: block;
  }

  .image-container {
    width: auto;
    padding: 1rem 1rem;
  }

  .info-text {
    width: auto;
    padding: 0 2rem;
  }

  #about-us .block {
    background-color: rgb(255, 255, 255);
    color: rgb(29, 39, 49);
    border-left: solid 0.01rem rgb(217, 179, 16);
  }

  #courses {
    justify-content: center;
    padding: 2rem 0;
  }

  #courses h1 {
    text-shadow: none;
  }

  #courses .id-container {
    background-color: rgb(255, 255, 255);
    width: 100%;
  }

  #courses .courses-container {
    padding: 0 1rem;
  }

  #courses .programs {
    flex-wrap: nowrap;
    flex-direction: column;
  }

  #courses .subject {
    background-color: rgb(11, 60, 93);
    color: rgb(50, 140, 193);
    margin: 0;
    width: auto;
    margin-bottom: 0.25rem;
  }

  #courses img {
    display: none;
  }

  .subject-text p {
    display: none;
  }

  .thesis-container {
    display: block;
  }

  .video-text {
    display: none;
  }

  #thesis .sixty-percent-container {
    width: 100%;
    padding: 1rem 0 2rem 0;
  }

  #thesis .forty-percent-container {
    display: none;
  }

  .social {
    display: flex;
    flex-direction: column;
  }

  .social span {
    padding-right: 0;
  }

  .social .fa {
    padding: 0.5rem;
  }

  #footer .content {
    padding: 1rem;
  }

  #footer .nav-footer {
    display: none;
  }
}
